<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG PYTHON</title>
  </head>
  <body>
    <h1>❤</h1>
    <div>
      <h1><a href="">Django ⚡ Blog</a></h1>
    </div>

    <!--{{ posts }}
          1-estas lineas solo mostraran la lista 'en bruto'
    {{ posts }}-->

    <!--
    {% for post in posts %}
        {{ post }}
    {% endfor %}
    2-para mostrar la lista de posts de manera mas amigable o legibe, usamos un for
-->

<!--Ahora para darle un poquito de formato mezclo html y template tags (que es lo que usamos anteriormente)-->
    {% for post in posts %} <!--lo que esta dentro de este bloque se va a repetir para cada objeto en la lista-->
        <div>
          <h1><a href="">{{ post.title }}</a></h1>
          <p><strong>published: {{ post.published_date }}</strong></p>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

  </body>
</html>
